@import "tailwindcss";

@theme {
  --font-sans: 'Quicksand', sans-serif;
  --font-display: 'Cinzel', serif;
  --color-antique-gold: #c5a059;
  --color-sapphire: #2b5876;
}

@layer base {
  body {
    @apply bg-[#fdf6e3] text-[#2c3e50] antialiased;
  }
}